/* MODELO-CAIXA.HTML

.conteudo {
	border: 1px solid red;
	padding: 20px;
	margin: 10px;

	width: 150px;
}

#noticias {
	background: #cdcdcd;
	padding: 10px;
}

h2 {
	border: 1px solid orange;
	margin: 0px;
}

	FIM MODELO-CAIXA.HTML
*/

/* ELEMENTOS-FLUTUANTES.HTML

.conteudo {
	background: #45adc8;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}

.conteudo2 {
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}

.clear {
	clear: left;  both = ambos
}

#principal {
	border: 1px solid red;
	background: #cdcdcd;
}

FIM ELEMENTOS-FLUTUANTES.HTML
*/

/* ELEMENTOS-FLUTUANTES-PRATICA.HTML

body {
	background: #f4f4f4;
}

#principal {
	width: 880px;
}

.noticia {
	background: #e5e5e5;
	padding: 5px;
	width: 270px;
	float: left;
	margin: 5px;
}
.clear {
	clear: both;
}

.imagem-galeria {
	background: white;
	width: 270px;
	padding: 5px;
	float: left;
	margin: 5px;
}

FIM ELEMENTOS-FLUTUANTES-PRATICA.HTML
*/

/* ELEMENTOS-INLINE-BLOCK.HTML

.borda1 {
	border: 1px solid red;
	display: inline-block;
}

.borda {
	border: 1px solid red;
	display: inline;
}

FIM ELEMENTOS-INLINE-BLOCK.HTML
*/

/* INICIO POSICIONAMENTOS.HTML

body {
	background: #007fc7;
}

#conteiner {
	background: #fff;
	width: 800px;
	margin: 10px auto;
	padding: 3px 10px;
	position: relative;
}

h1 {
	position: static;
}
p {
	position: static;
	width: 400px;
}

.relative {
	border: 1px solid red;
	position: relative;
	top: 0px;
	left: 0px;
}

.absolute {
	position: absolute;
	border: 1px solid blue;
	right: 5px;
	top: 70px;
}

.fixed {
	position: fixed;
	background: #cdcdcd;
	border: 1px solid blue;
	left: 5px;
	top: 5px;
}

FIM POSICIONAMENTOS.HTML
*/