/* MODELO-CAIXA.HTML

.conteudo {
	border: 1px solid red;
	padding: 20px;
	margin: 10px;

	width: 150px;
}

#noticias {
	background: #cdcdcd;
	padding: 10px;
}

h2 {
	border: 1px solid orange;
	margin: 0px;
}

	FIM MODELO-CAIXA.HTML
*/

.conteudo {
	background: #45adc8;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}

.conteudo2 {
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}

.clear {
	clear: left; /* both = ambos*/
}

#principal {
	border: 1px solid red;
	background: #cdcdcd;
}
